{% extends "core.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/question/_macro.njk" import onsQuestion %}
{%
    set pageConfig = {
        "meta": {
            "canonicalUrl": "/",
            "description": "/",
        },
        "header": {
            "title": title,
            "orgLogoHref": 'https://www.ons.gov.uk',
            "titleLogoHref": "/",
            "mastheadLogo": {
              "large": '<img class="logo" src="https://cdn.ons.gov.uk/assets/images/ons-logo/v2/ons-logo.svg" height="150" width="250" alt="Office for National Statistics logo">'
            },
            "titleLogo": "/",
            "navigation": navigation.navigation,
        },
        "breadcrumbs": {
            "ariaLabel": 'Breadcrumbs',
            "itemsList": [
                {
                    "url": url_for('survey.survey'),
                    "text": 'Previous'
                }
            ]
        }
    }
%}
{% block main %}
<form method="POST" action="{{ url_for('survey.save_response') }}">
    <input type="hidden" name="question_name" value="{{ question_name }}">

{%
    call onsQuestion({
        "title": question_text,
        "classes": "ons-u-mt-no",
        "legendIsQuestionTitle": true,
        "justification": {
            "title": "What is Survey Assist and why do we ask this question?",
            "content": justification_text
        }
    })
%}
    {{
        onsRadios({
            "name": "survey-assist-consent",
            "dontWrap": true,
            "radios": [
                {
                    "id": "consent-yes",
                    "label": {
                        "text": "Yes"
                    },
                    "value": "yes"
                },
                {
                    "id": "consent-no",
                    "label": {
                        "text": "No"
                    },
                    "value": "no"
                }
            ]
        })
    }}
{% endcall %}
{{ onsButton({
    "id": "save-values-button",
    "variants": 'loader',
    "text": "Save and continue",
}) }}
</form>
{% endblock %}
