{% extends "core.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/label/_macro.njk" import onsLabel %}

{%
    set pageConfig = {
        "meta": {
            "canonicalUrl": "/",
            "description": "/",
        },
        "header": {
            "title": 'Feedback Intro',
            "orgLogoHref": 'https://www.ons.gov.uk',
            "titleLogoHref": "/",
            "mastheadLogo": {
              "large": '<img class="logo" src="https://cdn.ons.gov.uk/assets/images/ons-logo/v2/ons-logo.svg" height="150" width="250" alt="Office for National Statistics logo">'
            },
            "titleLogo": "/",
            "navigation": navigation.navigation,
        },
        "breadcrumbs": {
            "ariaLabel": 'Breadcrumbs',
            "itemsList": [
                {
                    "url": url_for("survey.summary"),
                    "text": 'Previous'
                }
            ]
        }
    }
%}
{% block main %}
{{
    onsPanel({
        "spacious": true,
        "body": '<p>Please answer <strong>' +feedback_count+ ' quick questions</strong> to feedback on your experience today.</p>'
    })
}}
<p></p>
{{ onsButton({
    "id": "submit-button",
    "text": "Continue",
    "url": url_for('feedback.feedback'),
}) }}
{% endblock %}
